.container {
  width: 1120px;
  margin: auto;
}
.logo {
  width: 6rem;
}
.btn {
  font-size: 14px;
  border: none;
  padding: 13px 25px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
.btn-outline {
  border: 1px solid #09c6f9;
  background: none;
  color: #09c6f9;
}
.btn-outline:hover {
  background-color: #09c6f9;
  color: #fff;
}
.btn-primary {
  background: #09c6f9;
  color: #fff;
}

/* Main section */

.services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 30px;
}

.services-section .card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.services-section .card h2 {
  margin: 1.2rem 0;
  font-weight: bold;
}
.services-section .card p {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  opacity: 0.8;
}

/* card section */
/* pricing section */
.pricing {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 14, 210, 0.7679446778711485) 0%,
    rgba(40, 151, 241, 0.927608543417367) 63%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
}
.pricing-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.pricing .container h1 {
  padding: 30px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card .card-head {
  padding: 20px;
}
/* .card .bg-dark{
  
  background-color: #333;
  border-radius: 0 0 5px 5px;
} */
.card-body {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.card-footer {
  text-align: center;
}
.card-footer h2 {
  padding: 5px 0;
}
.card-footer p {
  margin-bottom: 20px;
}
.card-footer span {
  color: #555;
  opacity: 0.8;
}

/* customer -review section */
.customer-heading {
  text-align: center;
  margin-bottom: 30px;
}
.customer-heading h2 {
  font-size: 2rem;
  padding: 15px;
}
.customer-heading p {
  font-size: 17px;
  color: #555;
  opacity: 0.8;
}

.customer-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.customer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 0;
}
.customer h5 {
  font-size: 18px;
}
.customer p {
  font-size: 13px;
}
